Main.content
{
  display: flex;
  flex-direction: row;
  padding-top: 20px;
  justify-content: center;
  flex-wrap: wrap;
  overflow: hidden;
  
}
.card
{
    box-shadow: var(--shadow);
    overflow: hidden;
    align-content: center;
}
.card img
{
  display: flex;
  width: 335px;
  height: 238px;
}



div.card-body
{
  overflow: hidden;
}

div.card-body a
{
  width: 90px;
}

div.texts a.btn
{
  display: flex;
  justify-content: right;
  

}
div.texts
        {
            display: flex;
            flex-direction: row;
            justify-content: center;
            overflow: hidden;     
            padding: 0px;
            flex-wrap: wrap;
            
            

        }
        .preco-de
        {
            padding-top: 9px;
            text-decoration: line-through;
            padding-right: 8px;
            padding-left: -15px;
            color: black;
            text-align: left;
        }
        .preco-por
        {
          padding-top: 9px;
            color: #DC3545;
            font-weight: bold;
            font-size: 1em;
            margin-right: 20px;
        }